---
import Layout from "../layouts/Layout.astro";
import ComprarRifa from "../components/ComprarRifa";
---


   <title>Rifas Online</title>
  </head>
  <body>
    <ComprarRifa client:load />
  </body>
</html>


