---
import Layout from "../layouts/Layout.astro";
import ListaRifas from "../components/ListaRifas.jsx";
---


   <title>Rifas Online</title>
  </head>
  <body>
    <ListaRifas client:load />
  </body>
</html>


