---
import BoletosAsignados from "../components/BoletosAsignados.jsx";
const cantidad = parseInt(Astro.url.searchParams.get("cantidad") ?? "1");
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Pago exitoso</title>
  </head>
  <body>
    <h1 style="text-align:center;">¡Pago exitoso!</h1>
    <BoletosAsignados cantidad={cantidad} client:load  />
  </body>
</html>
