<div class="content_main">
  <main>
  <div class="hero-text">
    <h1 class="fade-in">Gana Premios Increíbles</h1>
    <p class="slide-up">Participa en nuestras rifas online. ¡Boletos asequibles, premios extraordinarios!</p>
    <a href="/rifasact" class="hero-btn">Ver Rifas Activas</a>
  </div>
</div>

<style>
    

  main {
    justify-content: center;
    display: flex;
    text-align: center  ;
    margin: 1%;
    border: 0.2px solid #ddd;
    border-radius: 25px;
    background: rgba(86, 155, 96, 0.119); /* fondo semi-transparente */
    backdrop-filter: blur(10px) saturate(120%);
    -webkit-backdrop-filter: blur(10px) saturate(120%); /* para Safari */
    padding: 8%;
    transition: all 0.5s ease-in-out;
    
  }

  .hero-text {
    position: relative;
    z-index: 10;
    max-width: 800px;
    padding: 1rem;
  }

  .hero-text h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }

  .hero-text p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  }

  .hero-btn {
    background-color: #428849;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    animation: fadeIn 6s ease forwards;
  }

  .hero-btn:hover {
    background-color: #2bb03a;
  }

    @keyframes .hero-btn{
    0% {
      opacity: 0;
      transform: scale(20px);
    }
    100% {
      opacity: 1;
      transform: scale(30px);
    }
  }

  @media (max-width: 768px) {
    .hero-text h1 {
      font-size: 2.5rem;
    }
    .hero-text p {
      font-size: 1.2rem;
    }
  }

  .fade-in {
    font-size: 3rem;
    animation: fadeIn 2s ease forwards;
  }

  .fade-in span {
    color: #38a14b;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* PÁRRAFO ANIMADO */
  .slide-up {
    opacity: 0;
    animation: slideUp 1.5s ease forwards;
    animation-delay: 0.5s;
  }

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: scale(20px);
    }
    100% {
      opacity: 1;
      transform: scale(30px);
    }
  }



</style>