

<header class="encabezado">
    <nav class="navegacion">
        <img src="/Logo.jpg" alt="Logo de la pagina" class="logo" />
        <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/about">verificador</a></li>
        <li><a href="/contact">Contactanos</a></li>
        <li><a href="/blog">Compra tus tickets</a></li>
        </ul>
    </nav>
</header>

<style>
.encabezado {
    background-color: #333;
    color: white;
    padding: 30px 10px;
}
.navegacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 24px;
}
</style>